<!-- Start Content-->
<div class="container-fluid">
  <div class="row justify-content-between">
    <!--back & create-->
    <div class="col-7 bg-danger py-1">
      <h4 class="page-title">
        <!--<a class="btn btn-xs btn-light waves-effect text-dark waves-light mr-1 px-1">
          <i class="mdi mdi-arrow-left"></i> Back
        </a>-->
        {{title}}
      </h4>
    </div>
    <div class="col-5 text-right bg-danger py-1">
      <a routerLink="{{createUrl}}" class="btn btn-xs btn-light font-weight-bold text-uppercase">Create New</a>
    </div>
    <!--back & create-->

    <div class="col-xl-12 bg-white py-2 ctm-datables">
      <table id="rules-datatable" class="table w-100 nowrap table-hover">
        <thead class="bg-danger">
        <tr class="text-white">
          <th>#</th>
          <th>Sport</th>
          <th>Market</th>
          <th>Rules</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of aList; let i = index;">
          <td>{{ i + page.start }}</td>
          <td>{{item.sport}}</td>
          <td>{{item.market}}</td>
          <td>{{item.rules}}</td>
          <td>
            <a (click)="changeStatus(item)" class="btn btn-xs btn-white border {{item.status.cssClass}}">{{item.status.text}}</a>
          </td>
        </tr>
        </tbody>
        <!--<tfoot>
          <tr class="active">
            <td colspan="5">
              <div class="text-right">
                <ul class="pagination pagination-rounded justify-content-end footable-pagination m-t-10 mb-0"></ul>
              </div>
            </td>
          </tr>
        </tfoot>-->
      </table>

    </div>

  </div>
  <!-- end row -->


</div> <!-- container -->



