<div *ngIf="!sitemode" class="maintenance-page text-center">
    <div>
        <h3 class="red text-capitalize">
            <i class="fa fa-user-cog fa-2x"></i>
            <p class="p-3">{{siteMaintenanceMessage}}</p>
        </h3>
    </div>
</div>
<div *ngIf="sitemode" class="login-card">
    <form action="" id="login-form" (ngSubmit)="doLogin()" class="col-lg-12">
        <div class="form-center">
            <div *ngIf="systemId != undefined" class="col-lg-12 logo-kapsul">
                <img class="login-logo" src="assets/img/{{systemId}}/logo.png" alt="Logo"/>
            </div>
            <div class="group">
                <input class="input100" type="text" name="username" [(ngModel)]="model.username" required
                       #email="ngModel" autocomplete="off">
                <span class="bar"></span>
                <label>
                    <i class="fa fa-user"></i>
                    <span class="span-input">Username</span>
                </label>
            </div>
            <div class="group">
                <input class="input101" type="{{passType}}" name="pass" [(ngModel)]="model.password"
                       required #password="ngModel" autocomplete="off">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>
                    <i class="fa fa-lock"></i>
                    <span class="span-input">Password</span>
                </label>
                <span class="eyes">
                    <i *ngIf="passType != 'password'" (click)="passType = 'password'" class="fa fa-eye"></i>
                    <i *ngIf="passType == 'password'" (click)="passType = 'text'" class="fa fa-eye-slash"></i>
                </span>
            </div>
            <!--<div class="group row align-items-center code-verify mx-0">
                <input [(ngModel)]="model.recaptcha" autocomplete="off" class="input100 col-8" name="recaptcha"
                       placeholder="Enter code" type="text" required #recaptcha="ngModel">
                <div class="col-4 bg-light">
                    <div class="cv-code">
                        <span><b>{{captcha}}</b></span>
                        <i (click)="reloadCaptch(captcha)"class="fa fa-refresh"></i>
                    </div>
                </div>
            </div>
            <div class="group">
                <div #recaptcha></div>
            </div>-->
            <button *ngIf="!disableLogin" class="giris-yap-buton">Login</button>
            <button *ngIf="disableLogin" class="giris-yap-buton disabled" disabled>Login</button>
            <a class="android-anchor pull-right mt-2" #apklink>
                <img class="mr-1" src="assets/img/android.gif" alt="APK Download"/>
                <span class="apk-text"> APK Download </span>
            </a>
        </div>

    </form>
    <form style="display: none;" action="" id="change-pass-form" (ngSubmit)="dochangepass()" class="col-lg-12">
        <div class="form-center">
            <div class="col-lg-12 logo-kapsul">
                <img class="login-logo" src="assets/img/{{systemId}}/logo.png" alt="Logo"/>
            </div>

            <div class="group">
                <input class="input101" type="{{passType1}}" name="pass" [(ngModel)]="model.password1"
                       required #password="ngModel" autocomplete="off">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>
                    <i class="fa fa-lock"></i>
                    <span class="span-input">New Password</span>
                </label>
                <span class="eyes">
            <i *ngIf="passType1 != 'password'" (click)="passType1 = 'password'" class="fa fa-eye"></i>
            <i *ngIf="passType1 == 'password'" (click)="passType1 = 'text'" class="fa fa-eye-slash"></i>
        </span>
            </div>
            <div class="group">
                <input class="input101" type="{{passType2}}" name="pass" [(ngModel)]="model.password2"
                       required #password="ngModel" autocomplete="off">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>
                    <i class="fa fa-lock"></i>
                    <span class="span-input">Confirm Password</span>
                </label>
                <span class="eyes">
            <i *ngIf="passType2 != 'password'" (click)="passType2 = 'password'" class="fa fa-eye"></i>
            <i *ngIf="passType2 == 'password'" (click)="passType2 = 'text'" class="fa fa-eye-slash"></i>
        </span>
            </div>
            <button class="giris-yap-buton"> Change Password</button>
        </div>
    </form>
</div>
