<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!-- User box -->
        <div class="user-box text-center" *ngIf="user?.role === 'ADMIN'">
            <div class="checkbox checkbox-primary mb-2">
                <h5 class="text-white">Online Client <small><i class="mdi mdi-account-group text-danger"></i></small></h5>
                <button class="btn border border-light font-weight-bold px-1">{{onLineClient}}</button>
                <button (click)="allUserLogout()" class="btn btn-danger font-weight-bold text-uppercase px-2">Logout All <i class="mdi mdi-logout"></i></button>
            </div>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
              <ul *ngIf="mainMenuList" class="metismenu" id="side-menu">
                <li *ngFor="let item of mainMenuList">
                  <a *ngIf="item.child == '0'" class="mainmenuother activemenu" (click)="changeClass(2, item.title,item.id,1)" routerLink="{{item.url}}" id="{{item.id}}">
                    <img class="img-fluid" src="assets/img/icons/{{item.icon}}" alt="icons">
                    <span> {{item.title}} </span>
                  </a>
                  <a *ngIf="item.child != '0'" class="mainmenuother activemenu" (click)="changeClass(2, item.title,item.id,0)" id="{{item.id}}">
                    <img class="img-fluid" src="assets/img/icons/{{item.icon}}" alt="icons">
                    <span> {{item.title}} </span>
                    <span *ngIf="item.child != '0'" class="menu-arrow"></span>
                  </a>

                  <ul *ngIf="item.child != '0'" class="nav-second-level" aria-expanded="false">
                    <li *ngFor="let item2 of item.child;" class="{{item.class}}">
                      <a routerLink="{{item2.url}}" id="{{item2.id}}" (click)="changeSubClass(item2.id)">
                        <img class="img-fluid" src="assets/img/icons/{{item2.icon}}" alt="icons"> {{item2.title}}</a>
                    </li>
                  </ul>
                </li>
<!--                  <li *ngIf="user.auth_id === 1">-->
<!--                      <a routerLink="/users/manage-system" >-->
<!--                          <img class="img-fluid" src="assets/img/icons/super-master.png" alt="icons">Manage System</a>-->
<!--                  </li>-->
              </ul>
        </div>
        <!-- End Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->
