<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between bg-light border border-danger font-weight-bold">

    <!--back & create-->
    <div class="col-12 bg-danger py-1">
      <h4 class="page-title text-light">
        {{title}}
      </h4>
    </div>
    <!--back & create-->

    <div class="col-xl-12 ctm-form">
      <div class="row" [ngClass]="{ 'justify-content-center' : cUserData?.role != 'ADMIN' }">
        <div class="" [ngClass]="{ 'col-xl-5' : cUserData?.role != 'ADMIN', 'col-xl-6' : cUserData?.role == 'ADMIN' }">
          <div class="ctm-form-div">
            <form [formGroup]="frm" (ngSubmit)="submitForm()" >
              <h2 class="h2-head"><i class="fas fa-thumbs-up"></i></h2>
              <h4 class="form-group mb-3">System Password</h4>
              <div class="form-group mb-3">
                <label>Password</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-key"></i>
                      </span>
                  </div>
                  <input type="password" minlength="8" maxlength="50" required formControlName="password" class="form-control" placeholder="Password" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmPassword.invalid && (frmPassword.dirty || frmPassword.touched)">Password Invalid !</em>
                </div>
                <p class="form-refer-text"> Password | Ex xyz@#$123ABC | min 8 | max 25</p>
              </div>

              <div class="form-group text-center">
                <div class="button-list">
                  <button class="btn btn-success btn-md" [ngClass]="{'disabled': !frm.valid}">Submit</button>
                  <a class="btn btn-danger btn-md text-light" (click)="onCancel()">Cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div *ngIf="cUserData?.role == 'ADMIN'" class="col-xl-6">
          <div class="ctm-form-div">
            <form [formGroup]="frm2" (ngSubmit)="submitForm2()" >
              <h2 class="h2-head"><i class="fas fa-thumbs-up"></i></h2>
              <h4 class="form-group mb-3">Activity Password</h4>
              <div class="form-group mb-3">
                <label>Old Password</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-key"></i>
                      </span>
                  </div>
                  <input type="password" minlength="8" maxlength="50" required formControlName="password1" class="form-control" placeholder="Old Password" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmPassword1.invalid && (frmPassword1.dirty || frmPassword1.touched)">Password Invalid !</em>
                </div>
                <p class="form-refer-text"> Ex xyz@#$123ABC | min 6 | max 20</p>
              </div>
              <div class="form-group mb-3">
                <label>New Password</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-key"></i>
                      </span>
                  </div>
                  <input type="password" minlength="8" maxlength="50" required formControlName="password2" class="form-control" placeholder="New Password" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmPassword2.invalid && (frmPassword2.dirty || frmPassword2.touched)">Password Invalid !</em>
                </div>
                <p class="form-refer-text"> Ex xyz@#$123ABC | min 6 | max 20</p>
              </div>

              <div class="form-group text-center">
                <div class="button-list">
                  <button class="btn btn-success btn-md" [ngClass]="{'disabled': !frm2.valid}">Submit</button>
                  <a class="btn btn-danger btn-md text-light" (click)="onCancel()">Cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>


</div> <!-- container -->
