<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between bg-light border border-danger">

    <!--back & create-->
    <div class="col-12 bg-danger py-1">
      <h4 class="page-title">
        {{title}}
      </h4>
    </div>
    <!--back & create-->

    <div class="col-xl-12 ctm-form">
      <div class="row justify-content-center">
        <div class="col-xl-5">
          <div class="ctm-form-div">
            <form [formGroup]="frm" (ngSubmit)="submitForm()" >
              <h2 class="h2-head">
                <i class="fas fa-thumbs-up"></i>
              </h2>

              <div class="form-group mb-3">
                <label>Name</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-user-tie"></i>
                      </span>
                  </div>
                  <input type="text" required formControlName="name" class="form-control" placeholder="Name" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmName.invalid && (frmName.dirty || frmName.touched)">Name Invalid !</em>
                </div>
                <p class="form-refer-text"> Name | Ex xyz | min 3 | max 20</p>
              </div>

              <div class="form-group mb-3">
                <label>Username</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-user"></i>
                      </span>
                  </div>
                  <input type="text" required formControlName="username" class="form-control" placeholder="Username" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmUsername.invalid && (frmUsername.dirty || frmUsername.touched)">Username Invalid !</em>
                </div>
                <p class="form-refer-text"> Username | Ex xyz | min 3 | max 20</p>
              </div>

              <div class="form-group mb-3" *ngIf="!uid">
                <label>Password</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-key"></i>
                      </span>
                  </div>
                  <input type="password" required formControlName="password" class="form-control" placeholder="Password" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmPassword.invalid && (frmPassword.dirty || frmPassword.touched)">Password Invalid !</em>
                </div>
                <p class="form-refer-text"> Password | Ex xyz@#$123ABC | min 8 | max 25</p>
              </div>
              <!-- <div class="form-group mb-3">
                <label>Remark</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-comment-alt"></i>
                      </span>
                  </div>
                  <input type="text" maxlength="100" formControlName="remark" class="form-control" placeholder="Remark" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmRemark.invalid && (frmRemark.dirty || frmRemark.touched)">frmRemark Invalid !</em>
                </div>
                <p class="form-refer-text">Remark | Ex xyz</p>
              </div> -->

              <div class="form-group mb-2">
                <h5 class="m-0">Assign to sport type</h5>
                <div class="form-check" *ngFor="let item of sportList; let i = index;">
                  <input type="checkbox" required formControlName="assignsport" [checked]="item.checked==1" (change)="onChangeSport($event, item)" *ngIf="item.name !== 'Users' && item.name !== 'Add Events' && item.name !== 'Sport' && item.name !== 'Dashboard'  && item.name !== 'Add Rules'" class="form-check-input" aria-label="" aria-describedby="">
                  <span class="form-check-label" for="defaultCheck1" *ngIf="item.name !== 'Users' && item.name !== 'Add Events' && item.name !== 'Sport' && item.name !== 'Dashboard'  && item.name !== 'Add Rules'">
                      {{item.name}}
                  </span>
                </div>
              </div>


              <div class="form-group mb-2">
                <h5 class="m-0">Assign to market type</h5>
                <div class="form-check" *ngFor="let item2 of marketList; let i = index;">
                  <input type="checkbox" required formControlName="assignmarket" [checked]="item2.checked==1"  (change)="onChangeMarket($event, item2)" class="form-check-input" aria-label="" aria-describedby="">
                  <span class="form-check-label" for="defaultCheck1">
                      {{item2.name}}
                  </span>
                </div>
              </div>

              <div class="form-group mb-2">
                <h5 class="m-0">Assign to Action</h5>
                <div class="form-check" *ngFor="let item3 of actionList; let i = index;">
                  <input type="checkbox" required formControlName="assignmarket" [checked]="item3.checked==1" (change)="onChangeAction($event, item3)" class="form-check-input" aria-label="" aria-describedby="" *ngIf="item3.name !== 'Abundant' && item3.name !== 'Game Over' && item3.name !== 'Game Recall'">
                  <span class="form-check-label" for="defaultCheck1" *ngIf="item3.name !== 'Abundant' && item3.name !== 'Game Over' && item3.name !== 'Game Recall'">
                      {{item3.name}}
                  </span>
                </div>
              </div>

              <div class="form-group text-center">
                <div class="button-list">
                  <button class="btn btn-success btn-md" >Submit</button>
                  <a class="btn btn-danger btn-md text-light" (click)="onCancel()">Cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>


</div> <!-- container -->
