<!-- Start Content-->
<div class="container-fluid">
  <!-- event data -->
  <div class="row">
    <div class="col-xl-12 px-1">
      <div class="dash-tabd">
        <ul class="nav nav-tabs nav-bordered my-nav-tabs">
          <li class="nav-item">
            <a class="nav-item nav-link" (click)="isActiveTabs = 'search';" [ngClass]="{'active': isActiveTabs === 'search'}">
              <img src="assets/img/tab-user-find.svg" style="filter:inherit;">
            </a>
          </li>
          <li class="nav-item" (click)="getDataList( 'all' )">
            <a class="nav-item nav-link" (click)="isActiveTabs = 'all';" [ngClass]="{'active': isActiveTabs === 'all'}">
              <img src="assets/img/tab-dashboard.png">
              <span class="desk-dash">Dashboard</span>
              <span class="mob-dash">Dash</span>
            </a>
          </li>
          <li class="nav-item" (click)="getDataList( 'market' )">
            <a class="nav-item nav-link" (click)="isActiveTabs = 'market';" [ngClass]="{'active': isActiveTabs === 'market'}">
              <img src="assets/img/tab-market.png">
              Market
            </a>
          </li>
          <li *ngFor="let item of dataList" class="nav-item" (click)="getDataList( item.slug )">
            <a  class="nav-item nav-link" id="{{'nav-'+item.slug+ '-tab'}}" (click)="isActiveTabs = item.slug;" [ngClass]="{'active': isActiveTabs === item.slug}">
              <img src="assets/img/{{item.icon}}">
              {{item.name}}
            </a>
          </li>
        </ul>
      </div>

      <div class="tab-content ctm-tabs-content default-tabs-panel pt-1" id="nav-tabContent">
        <div class="tab-pane fade" id="nav-Search" [ngClass]="{'active show': isActiveTabs === 'search'}">
          <div class="col-md-12 all-dash-tabs px-0">
            <h4 class="header-title mb-0 text-dark finder-dark py-1 font-weight-bold px-2">
              <span class="red" *ngIf="cUserData?.role == 'SV'">No search for this user !!</span>
              <form *ngIf="cUserData?.role != 'SV'" [formGroup]="frm" (ngSubmit)="submitForm()" >
                <div class="form-row align-items-center">
                  <div class="col-xl-3 col-6 mb-1">
                    <input placeholder="Search Username | Min 2 Character" type="text" required formControlName="username" class="form-control">
                  </div>
                  <div class="col-xl-1 col-6 mb-1">
                    <div class="input-group">
                      <button type="submit" class="btn btn-dark text-uppercase">Search</button>
                    </div>
                  </div>
                  <div class="col-xl-12 mb-1 text-left">
                    <span class="red error-font" *ngIf="searchUserError">Something wrong! User not found!</span>
                  </div>
                </div>
              </form>
            </h4>
            <div *ngIf="searchUserData != undefined" class="table-responsive my-1">
              <table class="table table-borderless dark-table-ui finder-table table-centered ctm-datables">
                <thead>
                <tr>
                  <th>Role</th>
                  <th>Name [username]</th>
                  <th>Parent</th>
                  <th *ngIf="searchUserData?.role != 'C'">PL (%)</th>
                  <th>Pl Balance</th>
                  <th *ngIf="searchUserData?.role == 'C'">Available</th>
                  <th *ngIf="searchUserData?.role == 'C'">Expose</th>
                  <th>My Wallet</th>
                  <th *ngIf="searchUserData?.role != 'C'">Reference</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    <p *ngIf="searchUserData?.role == 'SM1' || searchUserData?.role == 'SM2'" class="super-master">SM</p>
                    <p *ngIf="searchUserData?.role == 'M1'" class="master">M</p>
                    <p *ngIf="searchUserData?.role == 'C'" class="client">C</p>
                  </td>
                  <td><h5 class="m-0 text-white font-weight-normal">{{searchUserData?.name}}</h5></td>
                  <td>{{searchUserData?.pName}}</td>
                  <td *ngIf="searchUserData?.role != 'C'">{{searchUserData?.pl}} %</td>
                  <td>{{searchUserData?.pl_balance}}</td>
                  <td *ngIf="searchUserData?.role == 'C'">{{searchUserData?.available}}</td>
                  <td *ngIf="searchUserData?.role == 'C'">{{searchUserData?.expose}}</td>
                  <td>{{searchUserData?.balance}}</td>
                  <td *ngIf="searchUserData?.role != 'C'">
                    <a *ngIf="searchUserData?.reference?.smCount && searchUserData?.reference?.smCount > '0'" target="_blank" routerLink="/users/super-master/reference/{{searchUserData?.uid}}" title="Super Master"><p class="super-master">SM {{searchUserData?.reference?.smCount}}</p></a>
                    <a *ngIf="searchUserData?.reference?.mCount && searchUserData?.reference?.mCount > '0'" target="_blank" routerLink="/users/master/reference/{{searchUserData?.uid}}" title="Master"><p class="master">M {{searchUserData?.reference?.mCount}}</p></a>
                    <a *ngIf="searchUserData?.reference?.cCount && searchUserData?.reference?.cCount > '0'" target="_blank" routerLink="/users/client/reference/{{searchUserData?.uid}}" title="Client"><p class="client">C {{searchUserData?.reference?.cCount}}</p></a>
                  </td>
                  <td>
                    <a (click)="doStatusUpdate(searchUserData?.uid, 1)" class="btn btn-xs text-light border-0 bg-{{searchUserData?.isBlock.class1}}" title="{{searchUserData?.isBlock.text}}">
                      <i class="mdi {{searchUserData?.isBlock.class2}}"></i>
                    </a>
                    <a (click)="doStatusUpdate(searchUserData?.uid, 2)" class="btn btn-xs text-light border-0 bg-{{searchUserData?.isLock.class1}}" title="{{searchUserData?.isLock.text}}">
                      <i class="mdi {{searchUserData?.isLock.class2}}"></i>
                    </a>
                    <a *ngIf="searchUserData?.role == 'C'" routerLink="/current-bets/{{searchUserData?.uid}}" target="_blank" class="btn btn-xs btn-clock" title="Bet History">
                      <i class="mdi mdi-clock"></i>
                    </a>
                    <a *ngIf="searchUserData?.role == 'C'" routerLink="/users/client/setting/{{searchUserData?.uid}}" target="_blank" class="btn btn-xs btn-sett1" title="Setting">
                      <i class="mdi mdi-settings-outline"></i>
                    </a>
                    <a (click)="doStatusDelete(searchUserData?.uid)" class="btn btn-xs text-light border-0 bg-danger" title="Delete">
                      <i class="mdi mdi-delete"></i>
                    </a>
                    <a routerLink="/users/action/withdrawal/{{searchUserData?.uid}}" target="_blank" class="btn btn-xs btn-w" title="Withdrawal chips">W</a>
                    <a routerLink="/users/action/deposit/{{searchUserData?.uid}}" target="_blank" class="btn btn-xs btn-d" title="Deposit chips">D</a>
                    <a routerLink="/users/action/reset-password/{{searchUserData?.uid}}" target="_blank" class="btn btn-xs btn-rp" title="Reset Password">RP</a>
                    <a routerLink="/reports/chip-history/{{searchUserData?.uid}}" class="btn btn-xs btn-ch" title="Chip History" target="_blank">CH</a>
                    <a routerLink="/reports/profit-loss/{{searchUserData?.uid}}" class="btn btn-xs btn-pl" title="Profit Loss" target="_blank">PL</a>
                    <a routerLink="/reports/teenpatti-profit-loss/99/{{searchUserData?.uid}}" class="btn btn-xs btn-3pl" title="Live Game Profit Loss" target="_blank">LG</a>
                    <a routerLink="/reports/teenpatti-profit-loss/999/{{searchUserData?.uid}}" class="btn btn-xs btn-3pl" title="Live Game 2 Profit Loss" target="_blank">LG2</a>
                    <a routerLink="/reports/account-statement/{{searchUserData?.uid}}" class="btn btn-xs btn-as" title="Account Statement" target="_blank">AS</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="nav-All" [ngClass]="{'active show': isActiveTabs === 'all'}">

          <div class="col-md-12 all-dash-tabs px-0">

            <div class="row mx-0">
              <div class="col-lg-2 col-md-4 col-sm-4 col-6 dash-col-3">
                <a (click)="isActiveTabs = 'market';" (click)="getDataList( 'market' )">
                  <div class="widget-rounded-circle bg-card">
                    <img class="img-fluid" src="assets/img/dash-market.png" alt="">
                    <p class="text-muted mb-1 text-truncate text-uppercase">my market</p>
                  </div>
                </a>
              </div>

              <div *ngFor="let item of dataList"  class="col-lg-2 col-sm-4 col-md-4 col-6 dash-col-3">
                <a (click)="isActiveTabs = item.slug;" (click)="getDataList( item.slug )">
                  <div class="widget-rounded-circle bg-card">
                    <img class="img-fluid" src="assets/img/{{item.img}}" alt="">
                    <p class="text-muted mb-1 text-truncate text-uppercase">{{item.name}}</p>
                    <span class="new-game" *ngIf="item.isNew == 1" data-plugin="counterup"></span>
                  </div>
                </a>
              </div>
            </div>

          </div>
        </div>

        <div aria-labelledby="nav-MYMARKET-tab" class="tab-pane fade" id="nav-MYMARKET"  [ngClass]="{'active show': isActiveTabs === 'market'}" role="tabpanel" aria-expanded="false">
          <div class="row mx-0">
            <div *ngFor="let item of marketList; let iIndex = index" class="col-12 dash-div " [ngClass]="{'mt-1': iIndex !== 0}">
              <div class="bg-danger">
                  <h5 class="btn-danger font-weight-bold text-uppercase py-1 px-2 m-0">
                    {{item?.name}}
                  </h5>
              </div>
              <div *ngFor="let item2 of item?.event" class="row mx-0 py-2 text-capitalize align-items-top">
                <div routerLink="dashboard/event-details/{{item?.slug}}/{{item2?.eventId}}" class="col-md-5 col-12">
                  <span>
                    {{item2?.name}}
                    <b *ngIf="item2?.type === 'IN_PLAY'"><i class="mdi mdi-circle blinker text-success"></i></b>
                    <small class="dash-timer market-dt">{{ item2?.time*1000 | date :'mediumDate' }} {{ item2?.time*1000 | date :'mediumTime' }}</small>
                  </span>
                </div>
<!--                <div class="col-md-1 col-9 px-lg-0">-->
<!--                  {{ item2?.time*1000 | date :'mediumDate' }}-->
<!--                </div>-->
                <div class="col-md-1 col-12 px-0">
                  <span class="dash-bets"> {{ item2?.betCount }} bets </span>
                </div>
                <div class="col-md-6 col-12">
                  <ul *ngIf="item2?.runners?.length > 0" class="dash-ul">
                    <li *ngFor="let runner of item2?.runners"> {{runner?.runnerName}} <span [ngClass]="{'dash-profit': runner?.profitLoss >= 0 , 'dash-loss': runner?.profitLoss < 0}" class="">( {{runner?.profitLoss}} )</span> </li>
                  </ul>
                </div>
<!--                <p *ngIf="item2?.type === 'IN_PLAY'" class="inplay-dash"><i class="mdi mdi-circle blinker text-success"></i></p>-->
<!--                <p *ngIf="item2?.type === 'UPCOMING'" class="inplay-dash">upcoming</p>-->
              </div>
            </div> <!-- end col -->
          </div>
        </div>

        <div *ngFor="let item of dataList" class="tab-pane fade" id="nav-CRICKET" role="tabpanel" [ngClass]="{'active show': isActiveTabs === item.slug }">
          <div class="row mx-0">
            <div class="col-12 dash-div">
              <div class="bg-danger">
                <button *ngIf="cUserData?.role != 'SV'" type="button" [ngClass]="{'btn-success-unblock': !item?.isBlock,'btn-danger-block': item?.isBlock}" class="btn pr-0" id="DashButtonGame">
                  <span (click)="doSportBlock(item?.sportId,item?.isBlock)" class="btn-label mr-0">
                    <i class="mdi" [ngClass]="{'mdi-check-all': !item?.isBlock,'mdi-block-helper': item?.isBlock}"></i>
                  </span>
                </button>
                <b class="text-light ml-2 text-uppercase font-weight-bold">{{item.name}}</b>
              </div>

              <div *ngFor="let event of eventList" class="row mx-0 py-2 text-capitalize align-items-top">
                <div class="col-md-5 col-12">
                  <button *ngIf="cUserData?.role != 'SV'" (click)="doEventBlock(event?.eventId,event?.isBlock)" [ngClass]="{'btn-success-unblock': !event?.isBlock,'btn-danger-block': event?.isBlock}" type="button" class="btn p-1 lh-08" id="DashButtonGame">
                    <i class="mdi" [ngClass]="{'mdi-check-all': !event?.isBlock,'mdi-block-helper': event?.isBlock}"></i>
                  </button>
                  <span routerLink="dashboard/event-details/{{item?.slug}}/{{event?.eventId}}">
                    {{event?.name}}
                    <b *ngIf="event?.type === 'IN_PLAY'"><i class="mdi mdi-circle blinker text-success"></i></b>
                    <small *ngIf="item.slug != 'live-games' && item.slug != 'live-games2'" class="dash-timer">{{ event.time*1000 | date :'mediumDate' }} {{ event.time*1000 | date :'mediumTime' }}</small>
                  </span>
                </div>
                <!--<div *ngIf="item.slug != 'live-games' && item.slug != 'live-games2'" class="col-md-1 px-lg-0 col-9">
                  {{ event.time*1000 | date :'mediumDate' }}
                </div>-->
                <div class="col-md-1 col-3 px-0">
                  <span class="dash-bets"> {{ event.betCount }} bets </span>
                </div>
                <div *ngIf="item.slug == 'cricket' || item.slug == 'tennis' || item.slug == 'football'"  class="col-md-6 col-12">
                  <div class="btn-group" role="group" aria-label="">
                    <button type="button" class="d-blue-area">{{event?.oddsData?.odds && event?.oddsData?.odds[0]?.backPrice1 || '-'}}</button>
                    <button type="button" class="d-red-area">{{event?.oddsData?.odds && event?.oddsData?.odds[0]?.layPrice1 || '-'}}</button>
                  </div>
                  <div class="btn-group" role="group" aria-label="">
                    <button type="button" class="d-blue-area">{{event?.oddsData?.odds && event?.oddsData?.odds[2]?.backPrice1 || '-'}}</button>
                    <button type="button" class="d-red-area">{{event?.oddsData?.odds && event?.oddsData?.odds[2]?.layPrice1 || '-'}}</button>
                  </div>
                  <div class="btn-group" role="group" aria-label="">
                    <button type="button" class="d-blue-area">{{event?.oddsData?.odds && event?.oddsData?.odds[1]?.backPrice1 || '-'}}</button>
                    <button type="button" class="d-red-area">{{event?.oddsData?.odds && event?.oddsData?.odds[1]?.layPrice1 || '-'}}</button>
                  </div>
                </div>
<!--                <p *ngIf="event?.type === 'IN_PLAY'" class="inplay-dash"><i class="mdi mdi-circle blinker text-success"></i></p>-->
<!--                <p *ngIf="event?.type === 'UPCOMING'" class="inplay-dash">Upcoming</p>-->
<!--                <p *ngIf="event?.type === 'CLOSED'" class="inplay-dash">Closed</p>-->
              </div>

              <div *ngIf="isEmpty" class="row mx-0 py-2 text-capitalize align-items-center">
                <div class="col-md-4 col-12">
                  No Data Found!!!
                </div>
              </div>
            </div> <!-- end col -->
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- event data end-->

</div> <!-- container -->


<!-- banner model -->
<div class="modal fade modal-s3 modal-one" tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel1" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered" style="min-width: 90% !important; min-height: calc(100% - 30rem) !important;">
    <div class="modal-content">
      <div class="modal-header bg-light py-1">
        <button type="button" class="close text-danger" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div *ngIf="bannerUrl" class="modal-body p-0">
        <img class="img-fluid" src="{{bannerUrl}}">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

