<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between">

    <!--back & create-->
    <div class="col-7 bg-danger py-1">
      <h4 class="page-title">
        {{title}}
      </h4>
    </div>
    <div class="col-5 text-right bg-danger py-1">
      <a *ngIf="user?.role == 'ADMIN'" routerLink="{{createUrl}}"
        class="btn btn-xs btn-light font-weight-bold text-uppercase">Create New</a>
    </div>
    <!--back & create-->

    <div class="col-xl-12 bg-white py-2 ctm-datables">
      <table id="{{dataTableId}}" class="table w-100 nowrap table-hover">
        <thead class="bg-danger">
          <tr class="text-white">
            <th data-toggle="true">#</th>
            <th>Name</th>
            <th>Username</th>
            <th>Action</th>
            <th>Rights</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of aList; let i = index;">
            <td>{{ i + page.start }}</td>
            <td>{{item.username}}</td>
            <td>{{item.name}}</td>
            <td>
              <div>
                <a (click)="changeStatus(item)" class="btn btn-xs mr-1 text-light border-0 bg-{{item.status.cssClass}}"
                  title="{{item.status.text}}">
                  <i class="mdi {{item.status.class2}}"></i>
                </a>
                <a (click)="deleteStatus(item)" class="btn btn-xs mr-1 text-light border-0 bg-danger" title="Delete">
                  <i class="mdi mdi-delete"></i>
                </a>
                <a routerLink="/users/supervisor-system/update/{{item.id}}" class="btn btn-xs mr-1 btn-ch"
                  title="Edit"><i class="fa fa-edit"></i></a>
                <a (click)="resetPassword(item.id)" class="btn btn-xs btn-w" title="Reset Password">RP</a>
              </div>
            </td>
            <td width="500"> <span class="mr-1" *ngFor="let item2 of item.user_rights; let b = index;">
                <span class="btn btn-xs border border-dark text-dark text-uppercase mb-1">{{item2.name}}</span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end .table-responsive-->
  </div>
  <!-- end row -->
</div>
<!-- container -->


<!-- Custom Modal -->
<div class="modal fade modal-s1 modal-one resetPassword" tabindex="-1" role="dialog"
  aria-labelledby="myCenterModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-danger py-1">
        <h4 class="modal-title text-light" id="myCenterModalLabel"> Reset Password</h4>
        <button type="button" class="close text-light" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="col-xl-12 ctm-form p-1 mt-0">
          <div class="row justify-content-center">
            <div class="col-xl-12">
              <div class="ctm-form-div p-0 m-0">
                <form [formGroup]="frm" (ngSubmit)="submitForm()">
                  <h2 class="h2-head">
                    <i class="fas fa-thumbs-up"></i>
                  </h2>

                  <div class="form-group mb-3">
                    <label>Password</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <!-- <i class="fas fa-key"></i>-->
                          <i *ngIf="passType != 'password'" (click)="passType = 'password'" class="fa fa-eye"></i>
                          <i *ngIf="passType == 'password'" (click)="passType = 'text'" class="fa fa-eye-slash"></i>
                        </span>
                      </div>
                      <input type="{{passType}}" minlength="8" maxlength="50" required formControlName="password"
                        class="form-control" placeholder="Password" aria-label="" aria-describedby="">
                      <em class="show-error"
                        *ngIf="frmPassword.invalid && (frmPassword.dirty || frmPassword.touched)">Password
                        Invalid !</em>
                    </div>
                    <p class="form-refer-text"> Password | Ex xyz</p>
                  </div>

                  <div class="form-group text-center">
                    <div class="button-list">
                      <button class="btn btn-success btn-md waves-effect waves-light"
                        [ngClass]="{'disabled': !frm.valid}">
                        Submit
                      </button>
                      <button class="btn btn-danger btn-md waves-effect waves-light"
                        (click)="onCancel()">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->