<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between ">

    <!--back & create-->
    <div class="col-7 bg-danger py-1">
      <h4 class="page-title">
        <!--<a class="btn btn-xs btn-light waves-effect text-dark waves-light mr-1 px-1">
          <i class="mdi mdi-arrow-left"></i> Back
        </a>-->
        {{title}}
      </h4>
    </div>
    <div class="col-5 text-right bg-danger py-1">
    </div>
    <!--back & create-->

    <div class="col-xl-12 bg-white py-2 ctm-datables">
      <table id="{{dataTableId}}" class="table w-100 nowrap table-hover">
        <thead class="bg-danger">
        <tr class="text-white">
          <th data-toggle="true">#</th>
          <th>Name [username]</th>
          <th>Parent</th>
          <th>M/C (%)</th>
          <th>P&L Balance</th>
          <th>Available</th>
          <th>Expose</th>
          <th>My Wallet</th>
          <th>Remark</th>
          <th *ngIf="user?.role != 'SA'">Action</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let item of aList; let i = index;">
          <td>{{ i + page.start }}</td>
          <td>{{item.name}} [{{item.username}}]</td>
          <td>{{item.pName}}</td>
          <td>{{item.mc}} %</td>
          <td><strong>{{item.plBalance}}</strong></td>
          <td><strong>{{item.available}}</strong></td>
          <td><strong>{{item.expose}}</strong></td>
          <td><strong>{{item.balance}}</strong></td>
          <td>{{item.remark}}</td>
          <td *ngIf="user?.role != 'SA'" class="sm-buttons" nowrap="nowrap">
            <div>
              <a routerLink="/reports/chip-history/{{item.id}}" class="btn btn-xs btn-ch" title="Chip History" target="_blank">CH</a>
              <a routerLink="/reports/profit-loss/{{item.id}}" class="btn btn-xs btn-pl" title="Profit Loss" target="_blank">PL</a>
              <a routerLink="/reports/teenpatti-profit-loss/99/{{item.id}}" class="btn btn-xs btn-3pl" title="Live Game Profit Loss" target="_blank">LG</a>
              <a routerLink="/reports/teenpatti-profit-loss/999/{{item.id}}" class="btn btn-xs btn-3pl" title="Live Game 2 Profit Loss" target="_blank">LG2</a>
              <a routerLink="/reports/account-statement/{{item.id}}" class="btn btn-xs btn-as" title="Account Statement" target="_blank">AS</a>
            </div>
          </td>
        </tr>
        </tbody>
        <!--<tfoot>
          <tr class="active">
            <td colspan="5">
              <div class="text-right">
                <ul class="pagination pagination-rounded justify-content-end footable-pagination m-t-10 mb-0"></ul>
              </div>
            </td>
          </tr>
        </tfoot>-->
      </table>
    </div>
    <!-- end .table-responsive-->
  </div>
  <!-- end row -->
</div>
<!-- container -->
